main{
    background: linear-gradient(0deg, #dbdbd2 85%, #009688 60%);
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

#windowChat{
    height: 90vh;
}

#optionSection{
    background-color: red;

}
#chatSection{
background-color: green;
}