*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --side-grey: #b1b1b1;
    --hover-grey: #e9ebeb;
  }

main{
    background: linear-gradient(0deg, #dbdbd2 85%, #009688 60%);
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.noPadding {
    padding-left: 0 !important;
    padding-right:  0 !important;
 }

.sender{
    background-color: #d5f9ba;
    padding: 0.7rem 1rem;
    border-radius: 10px;
}

.senderContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem 0 1rem 0;
}

.receiver{
    background-color: white;
    padding: 0.7rem 1rem;
    border-radius: 10px;
}

.receiverContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 0 1rem 0;
}

#windowChat{
    height: 90vh;
    min-width: 900px;
}

#optionSection{
    /* background-color: white; */
    height: 100%
}
#chatSection{
    /* background-color: green; */
    height: 100%
}

#userOption, 
#chatOption{
    background-color: #eaeaea;
    height: 60px;
    border-right: 1px solid var(--side-grey);
}

#getNotify{
    background-color: #8edafc;
    height: 70px;
}

#searchBar{
    background-color: #fafafa;
    height: 50px;
    width: 100%;
}

#messageBar{
    background-color: #f3eeea;
    height: 70px;
    width: 100%;
}

#contactSection{
    background-color: white;
    height: calc(80% - 120px);
    overflow: scroll;
}

#activeChat{
    background-image:url(../img/mine.jpg);
    height: calc(80% - 70px);
    overflow: scroll;
    
}

#contactName,
#myName
{
    padding-left: 1rem;
    padding-top: 5px;
}

#activeContactName,
#notifyText{
    padding-left: 1rem;
}

#imgContactSection img,
#myImgSection img,
#activeAvatar img {
    vertical-align: middle;
    width: 50px;
    border-radius: 55%;
    padding: 5px 0; 
}

#bellIcon i{
    background-color: white;
    border-radius: 55%;
    color: #8edafc;
}


#contactName span{
    font-weight: bold;
}

#contactName p,
#activeContactName p,
#lastLog p,
#messageTime p {
    font-size: .8rem;
    color: #ccc8c9;
    margin-bottom: 0rem!important;
}

#messageTime p{
    text-align: right;
    font-size: .7rem;
}

#lastLog p{
    font-size: .7rem;
}

#activeContactName p,
#notifyText p{
    color: #8c8c9f;
}

#notifyText p{
    font-size: .8rem;
    margin-bottom: 0rem!important;
}

#contact{
    border-top: 1px solid var(--hover-grey);
    padding: .25rem 1rem;
}

#contact:hover{
    background-color: var(--hover-grey);
    cursor: pointer;
}

.active{
    background-color: var(--hover-grey);
}

#chatText{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--hover-grey);
}

#chatFilter{
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid var(--hover-grey);
}

#messageBar i{
    font-size: 25px;
    padding: 1.5rem;
    color: #6b7376;
}

.smile{
    padding-right: 2.5rem!important;
}

.mic{
    padding-left: 2.5rem!important;
} 

i{
    font-size: 20px;
    padding: .5rem;
    color: var(--side-grey);
}


.none{
    display: none;
}

.block{
    display: block;
}